body {
    background: #fafafa;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, .15), rgba(255, 255, 255, .15)), url('./media/home.jpg');
    background-size: cover;
    z-index: 1;
}

.navbar {
  transition: all 0.7s;
  
}

.navbar .nav-link {
  color: #fff;
  outline: none;
  box-shadow: none;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #00b7ff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

.navbar-toggler:focus{
outline: none;
box-shadow: none;
}

/* Change navbar styling on scroll */
.navbar.active {
  background:white;
 box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color:black;
  opacity:100% !important;
  outline: none;
  box-shadow: none;

}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color:#00b7ff;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color:black;
}

.landing {
  padding-top: 5rem;
    display: flex;
  
}

.landing_left {
    flex: 0.7;
}
.landing_right {
    padding-top: 3rem;
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}








.app {
    display: flex;
    justify-content: center;
    align-items: center;
}


.base-timer {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  /* scaleX(1) = CLOCKWISE, scaleX(-1) = ANTI-CLOCKWISE */
  .base-timer__svg {
    transform: scaleX(1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;  
}
  
  .base-timer__path-remaining.arc {
    color: black;
  }
  
  .base-timer__label {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  
  .buttons {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .buttons button {
    margin: 1rem;
    border: none;
    outline: none;
    background-color: beige;
    width: 80px;
    height: 50px;
    border-radius: 50px;
    padding: .3rem;
    font-size: 1.1rem;
  }
  
  .buttons button:hover {
    background-color: black;
    color: #00b7ff;
  }
  
  .buttons button:disabled {
    cursor: not-allowed;
  }
  .buttons button:disabled:hover{
    background-color:beige;
  }
  .fancy-spinner {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    width: 5rem;
    height: 5rem;
  }
  .fancy-spinner div {
    position: absolute;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }
  .fancy-spinner div.ring {
    border-width: 0.5rem;
    border-style: solid;
    border-color: transparent;
    -webkit-animation: 2s fancy infinite alternate;
            animation: 2s fancy infinite alternate;
  }
  .fancy-spinner div.ring:nth-child(1) {
    border-left-color: #000;
    border-right-color: #000;
  }
  .fancy-spinner div.ring:nth-child(2) {
    border-top-color: #000;
    border-bottom-color: #000;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .fancy-spinner div.dot {
    width: 1rem;
    height: 1rem;
    background: #000;
  }
  
  @-webkit-keyframes fancy {
    to {
      -webkit-transform: rotate(360deg) scale(0.5);
              transform: rotate(360deg) scale(0.5);
    }
  }
  
  @keyframes fancy {
    to {
      -webkit-transform: rotate(360deg) scale(0.5);
              transform: rotate(360deg) scale(0.5);
    }
  }
  

  .waves {
    position:relative;
    width: 336px;
    height:100%;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:100%;
    text-align:center;
    background-color: rgb(0, 183, 255);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
.result {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-img-top {
  width: 320px;
  height: 280px;
}

.report-button {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.report-button > a, .report-button > button {
  margin: 1rem;
}

  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

@media screen and (max-width: 992px) {
    .landing {
        display: flex;
        flex-direction: column;
    }
    .waves {
      height:40px;
      min-height:40px;
    }
   
}
  
@media screen and (max-width: 600px) {
    .landing {
        display: flex;
        flex-direction: column;
    }
    .waves {
      height:40px;
      min-height:40px;
    }
    
}


.homebtn {
  background-color: #00b7ff;
  --y: -25;
  --x: 0;
  --rotation: 0;
  --speed: 2;
  --txt: "Keep Me Awake";
  --padding: 1rem 1.25rem;
  cursor: pointer;
  border-radius: 12px;
  padding: var(--padding);
  color: transparent;
  font-weight: bold;
  font-size: 1rem;
  -webkit-transition: background 0.1s ease;
  transition: background 0.1s ease;
  background: #00b7ff;
  outline-color: #00b7ff;
  -webkit-animation-name: flow-and-shake;
          animation-name: flow-and-shake;
  -webkit-animation-duration: calc(var(--speed) * 1s);
          animation-duration: calc(var(--speed) * 1s);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}
.homebtn:after {
  content: var(--txt);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: var(--padding);
  color: #fff;
}
.homebtn:hover {
  background: #00b7ff;
  --speed: 0.1;
  --rotation: -1;
  --y: -1;
  --x: 1;
  
}
.homebtn:active {
  outline: none;
  border:none;
  --speed: 4;
  --x: 0;
  --y: 5;
  --rotation: 0;
  background: #00b7ff;
}
@-webkit-keyframes flow-and-shake {
  0%, 100% {
    -webkit-transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
            transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
  }
  50% {
    -webkit-transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
            transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
  }
}
@keyframes flow-and-shake {
  0%, 100% {
    -webkit-transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
            transform: translate(calc(var(--x) * -1%), 0) rotate(calc(var(--rotation) * -1deg));
  }
  50% {
    -webkit-transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
            transform: translate(calc(var(--x) * 1%), calc(var(--y) * 1%)) rotate(calc(var(--rotation) * 1deg));
  }
}



.video {
  margin-top: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.video > img {
  background-color: #00b7ff;
  border-radius: 30px;
  width: 600px;
  height: 400px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.precentered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}