body {
    background: #fafafa;
    color: black;
}

nav {
    margin-bottom: 2rem;
}
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    border: none;
}

.landing {
    display: flex;
}

.landing_left {
    flex: 0.7;
}
.landing_right {
    padding-top: 3rem;
    flex: 0.3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}








.app {
    display: flex;
    justify-content: center;
    align-items: center;
}


.base-timer {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  /* scaleX(1) = CLOCKWISE, scaleX(-1) = ANTI-CLOCKWISE */
  .base-timer__svg {
    transform: scaleX(1);
  }
  
  .base-timer__circle {
    fill: none;
    stroke: none;
  }
  
  .base-timer__path-elapsed {
    stroke-width: 7px;
    stroke: grey;
  }
  
  .base-timer__path-remaining {
    stroke-width: 7px;
    stroke-linecap: round;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    fill-rule: nonzero;
    stroke: currentColor;  
}
  
  .base-timer__path-remaining.arc {
    color: black;
  }
  
  .base-timer__label {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
  }
  
  .buttons {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .buttons button {
    margin: 1rem;
    border: none;
    outline: none;
    background-color: beige;
    width: 80px;
    height: 50px;
    border-radius: 50px;
    padding: .3rem;
    font-size: 1.1rem;
  }
  
  .buttons button:hover {
    background-color: black;
    color: #00b7ff;
  }
  
  .buttons button:disabled {
    cursor: not-allowed;
  }
  .buttons button:disabled:hover{
    background-color:beige;
  }


  .waves {
    position:relative;
    width: 336px;
    height:100%;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  .content {
    position:relative;
    height:100%;
    text-align:center;
    background-color: rgb(0, 183, 255);
  }
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }

  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }

@media screen and (max-width: 992px) {
    .landing {
        display: flex;
        flex-direction: column;
    }
    .waves {
      height:40px;
      min-height:40px;
    }
   
}
  
@media screen and (max-width: 600px) {
    .landing {
        display: flex;
        flex-direction: column;
    }
    .waves {
      height:40px;
      min-height:40px;
    }
    
}