{% extends "base.html" %}

{% block content %}

    <div class="about">
    <div class="about_left">
        <div class="txt">
            Our team presents Fatigue-detector, mainly developed keeping in mind the present trend of online classes. 
        Due to this pandemic all of us are spending a lot of time on our Computers,phones to attend our classes. Apart from this we 
        also spend a lot of time watching tv shows, movies etc.. <br />
        
        In such a situation it is natural that students would get stressed and tired.Our project is aimed at solving this issue. 
        Our app would help students stay awake during online classes by monitoring their eye movements. 
        It would trigger an alarm incase the student accidently dozes off during online classes. 
        It would also remind us to have sufficient intake of water from time to time. 
        Moreover there is an additional feature which would give students daily tips on how to maintain their 
        health and stay active during online classes.
        </div>
    </div>
    <div class="about_right scale-up-center">
        <div class="content2 flex">
            <img class="relax slide-fwd-center" src="../static/media/relax.svg">
        </div>
    
        </div>
</div>
    
{% endblock content %}