{% extends "base.html" %}

{% block content %}

    <div class="result">
    {% if check %}
        <div class="card" id="card">
            <div class="card-body">
                <h2 class="card-title">You haven't turned on Fatigue detector</h2>
                <a href="{{ url_for('video') }}" target="_blank" class="btn btn-primary">Turn it on</a>
                <br>
            </div>
        </div>
    {% else %}
        <div class="card" id="card">
            {% if avg <= 250 %}
                <img class="card-img-top" src="{{ url_for('static', filename='media/sleep.svg') }}" alt="Card image cap">
            {% elif avg > 250 and avg < 300 %}
                <img class="card-img-top" src="{{ url_for('static', filename='media/tired.svg') }}" alt="Card image cap">
            {% else %}
                <img class="card-img-top" src="{{ url_for('static', filename='media/refresh.svg') }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                {% if avg < 250 %}
                    <h2 class="card-title">You need to sleep </h2>
                {% elif avg < 270 %}
                    <h2 class="card-title">You are a little tired </h2>
                {% else %}
                    <h2 class="card-title">You are refreshed </h2>
                {% endif %}
                <h5 class="card-text">Your average Eye Aspect Ratio is {{avg}}</h5> <br>
                <h5 class="card-text">Your total yawns in this session is {{count}}</h5> <br>
                <div class="timestamp">
                    <h6>{{date}}</h6>
                    <h6>{{time}}</h6>
                </div>
            </div>
        </div>
            <div class="report-button">
                <a href="{{ url_for('index') }}" class="btn btn-primary">Back To Home</a>
                <button class="btn btn-primary" id="download">Save Report</button>
            </div>
    {% endif %}
    </div>

{% endblock content %}